div.comments_wrap {    
    width: 600px;
    margin: 0 auto;
}

div.comments_wrap ul
{
    list-style-type: none;
}

div.comments_wrap ul li
{
    margin: 7px 0 7px 7px;
}

div.comments_wrap ul li div.comment
{
    border: solid 1px #ccc;
    padding: 5px 10px;
}

div.comments_wrap ul li div.author
{
    font-weight: bold;
    margin: 3px 0;
}

div.comments_wrap ul li div.author span.date
{
    padding-left: 20px;

}

div.comments_wrap ul li div.comment_text
{
    overflow: auto;
}

/*********************/

.clearfix:before,
	.clearfix:after {
	content: " ";
	display: table;
}
 
.clearfix:after {
	clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
	*zoom: 1;
}

.add-comments-block {
	width: 600px;
    margin: 0 auto;
}

	.add-comments-block  button {
		float:right;
	}